@import "font";

@media (max-width: 1000px) {
  main {
    .fon1 {
      width: 100%;
    }
    .header-mini {
      display: none;
    }
    .header-big {
      display: block;
    }
    .p-style {
      font-size: 18px;
    }
    .h4-style {
      font-size: 30px;
    }
    .h1-style {
      font-size: 50px;
    }
    .just-start {
      display: flex;
      justify-content: flex-start;
    }
    .just-end {
      display: flex;
      justify-content: flex-end;
    }
    .display-none-mobile {
      display: none;
    }
    .display-none-ol {
      display: block;
    }
    .features__content-img--style {
      width: 100%;
      height: 100%;
    }
    .second-content__img--style {
      width: 100%;
      height: 100%;
    }
    .pricing__content {
      margin-top: 0;
    }
  }
  .navbar-box {
    display: none;
  }
}
